.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: 40px;
  padding: 50px;

  box-shadow: 0 0 10px #686868;
  border-radius: 50px;

  background-color: rgba(0, 255, 255, 0.308);
}
