.character-card {
  --transition-time: 0.5s;

  display: flex;
  flex-direction: column;

  max-width: 70vw;

  font-size: x-large;
  font-weight: bold;
  color: rgb(230, 230, 230);
  text-shadow: 0 0 7px black;

  border: none;
  border-radius: 30px;

  box-shadow: none;

  transition: 
    background-color var(--transition-time),
    box-shadow var(--transition-time);
}

.character-card:hover {
  box-shadow: 0 0 10px #686868;
  background-color: rgba(0, 140, 255, 0.219);
}

.characterCard__avatar {
  width: 100%;
  margin: 0;
  margin-bottom: 5%;

  border-radius: 30px;
}

.character-card__text{
  margin: 0;
  margin-bottom: 5%;
}
