.Container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2em;
  margin: 2em;

  border-radius: 30px;
  background-color: rgba(127, 255, 212, 0.438);
  box-shadow: 0 0 10px #686868;
}