.characterCard {
    text-shadow: 0 0 3px #000000;
    width: 300px;
    display: inline-block;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 40px;
    margin: 10px;
    transition: box-shadow 0.3s;
  }
  .characterCard:hover {
    box-shadow: 0 0 10px #686868;
    background-color: rgba(0, 140, 255, 0.219);
  }

  .characterCard__img{
    border-radius: 15px;
    margin: 15px;
  }
  .loading-text {
    font-size: 50px;
    font-weight: bold;
  }